.meno{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 5px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    }
    .demo-inline-calendar-card {
        width: 300px;
      }