.body{
    display: flex ;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: rgb(128, 2, 187);
}
.login{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    max-width: 330px;
    text-align: center;
    width: 75%;
    height: 75%;
    background-color: rgb(221, 218, 218);
}
.ancho{
    width: 80%;
    border-radius: 20px;
}
.spinner{
    margin: auto;
}