table {
    width: 100%;
   
   background-color: rgb(221, 218, 218);
   
  }
  th{
    width: 20px;
    height: 20px;
  }
  .pointer{
    cursor: pointer;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
.example-spacer{
  flex: 1 1 auto;
}
  